# Obteniendo los países con mayores y menores ventas

In [2]:
# Importamos nuestra librería. En este escenario, utilizaremos pandas

import pandas as pd

# Ahora leeremos el archivo .csv llamado 'Online_Retail.csv'

path = 'Online_Retail.csv'
df = pd.read_csv(path, encoding='latin1')
print(df.head(5))

  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6

    InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/10 8:26       2.55     17850.0  United Kingdom
1  12/1/10 8:26       3.39     17850.0  United Kingdom
2  12/1/10 8:26       2.75     17850.0  United Kingdom
3  12/1/10 8:26       3.39     17850.0  United Kingdom
4  12/1/10 8:26       3.39     17850.0  United Kingdom

In [4]:
# Ya que hemos leído nuestro archivo, veremos un poco de la descricpción de los mismos.

description_df = df.info()
print(description_df)

# Además haremos uno cálculos rápidos con 'describe' para obtener una mirada rápida de los mismos.

describe_df = df.describe()
print(describe_df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [12]:
# Por el momento, solo obtendremos los 3 países con mayores y menores ventas.

## Crearemos una función en la que podamos tener nuestras ventas totales a partir del país, el precio unitario y la cantidad.

def total_sales (sales):
    return (sales['Quantity'] * sales['UnitPrice']).agg(['sum'])

### Llamaremos esta función con el método .apply()

group_by_country_sales = df.groupby(['Country']).apply(total_sales)
print(group_by_country_sales)

                              sum
Country
Australia              137077.270
Austria                 10154.320
Bahrain                   548.400
Belgium                 40910.960
Brazil                   1143.600
Canada                   3666.380
Channel Islands         20086.290
Cyprus                  12946.290
Czech Republic            707.720
Denmark                 18768.140
EIRE                   263276.820
European Community       1291.750
Finland                 22326.740
France                 197403.900
Germany                221698.210
Greece                   4710.520
Hong Kong               10117.040
Iceland                  4310.000
Israel                   7907.820
Italy                   16890.510
Japan                   35340.620
Lebanon                  1693.880
Lithuania                1661.060
Malta                    2505.470
Netherlands            284661.540
Norway                  35163.460
Poland                   7213.140
Portugal                29367.020
RSA                      1002.310
Saudi Arabia              131.170
Singapore                9120.390
Spain                   54774.580
Sweden                  36595.910
Switzerland             56385.350
USA                      1730.920
United Arab Emirates     1902.280
United Kingdom        8187806.364
Unspecified              4749.790

/tmp/ipykernel_10625/2483258951.py:10: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  group_by_country_sales = df.groupby(['Country']).apply(total_sales)

In [ ]:
#### Ahora, utilizaremos el método .sort_values() para poder traer de manera ASC y DESC nuestros países

top_3_countries = group_by_country_sales.sort_values(by='sum', ascending=False)
print(f'Nuestros 3 países con mayores ventas (aunque no necesariamente \ncon más ganancias netas) son:\n {top_3_countries.head(3)}')

Nuestros 3 países con mayores ventas (aunque no necesariamente
con más ganancias netas) son:
                         sum
Country
United Kingdom  8187806.364
Netherlands      284661.540
EIRE             263276.820

In [25]:
#### De la misma manera que con los países con mayores ventas, obtendremos los países con menores ventas

lowest_3_countries = group_by_country_sales.sort_values(by='sum', ascending=True)
print(f'Nuestros 3 países con menores ventas son:\n {lowest_3_countries.head(3)}')

Nuestros 3 países con menores ventas son:
                    sum
Country
Saudi Arabia    131.17
Bahrain         548.40
Czech Republic  707.72